doctype html
html
  head
    title boardgamegeek
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    :inject(file="md-icons.css")
    :inject(file="vuetify.css")
    style .stats tr:nth-child(even) { background-color: #f2f2f2 };
  body
    script#app(type="text/x-template")
      v-app
        v-container(fluid grid-list-xl)
          v-layout(row)
            v-flex(xs12)
              v-text-field(v-model="username"
                          ref="u"
                          id="u"
                          label="boardgamegeek.com username"
                          :error-messages="usernameErrors"
                          :loading="isLoading")
          v-layout(row)
            v-flex(sm5 md4 lg3)
              h2.text-center Select the players you want
              span &nbsp;
              v-data-table(:items="players"
                           item-key="name"
                           v-model="selected"
                           :headers="headers.players"
                           hide-default-footer
                           disable-pagination
                           show-select)
                template(v-slot:item.count="{item}")
                  span(v-text="commify(item.count)")
            v-flex(sm7 md8 lg9)
              h2.text-center Details
              h3.text-center(v-if="selected.length < 1") Select one or more players
              template(v-else)
                h3.text-center Quick stats
                v-simple-table.stats
                  template(v-slot:default)
                    tr(v-for="(v,k) in stats" :key="k")
                      td.font-weight-bold(v-text="k + ':'")
                      td(v-text="v")
                h3.text-center Full list
                v-data-table(:items="commonGames"
                             item-key="playid"
                             :headers="headers.games"
                             :custom-filter="filterGames"
                             hide-default-footer
                             disable-pagination)
                  template(v-slot:top)
                    v-text-field(v-model="gameFilter" label="Filter by game")
                  template(v-slot:item.players="{item}")
                    span.text-no-wrap(v-html="item.players")
                  template(v-slot:item.name="{item}")
                    a(:href="'https://boardgamegeek.com/boardgame/' + item.gameid") {{item.name}}
                  template(v-slot:item.date="{item}")
                    a.text-no-wrap(:href="'https://boardgamegeek.com/play/details/' + item.playid") {{item.date}}

    :inject(file="vue-dev.js")
    :inject(file="vuetify.js")
    :inject(file="lodash-custom.js")
    :inject(file="bind-input-query-param.coffee")
    :inject(file="bgg.coffee" bare)
